{{aljs-header label="Datepickers" icon="images/icon-datepicker.svg"}}
{{#aljs-main-content}}
    <p class="slds-text-heading--small">SLDS Datepickers Documentation: <a class="slds-show slds-truncate" class="slds-show slds-truncate" href="https://www.lightningdesignsystem.com/components/datepickers" target="_blank">https://www.lightningdesignsystem.com/components/datepickers</a></p>
    <p class="slds-m-top--small"><strong>Datepickers require <a href="http://momentjs.com/" target="_blank">moment.js</a></strong></p>
    {{aljs-demo-container label="Base" url="./demo-datepicker.html" iframeHeight="415"}}
    {{aljs-code-container routeName="datepickers" selectedSection=selectedSection}}
    <hr class="aljs-section-divider">
    {{aljs-demo-container label="Multi Select" url="./demo-multi-datepicker.html" iframeHeight="455"}}
    {{aljs-code-container routeName="multiDatepickers" selectedSection=selectedSection}}
{{/aljs-main-content}}