{{!--<div class="slds-tabs--default">
    <ul class="slds-tabs--default__nav" role="tablist">
        {{#unless noJQuery}}
            <li {{bind-attr class=":slds-tabs__item :slds-text-heading--label isJQuery:slds-active"}} aria-controls="markup-1" aria-describedby="components-picklists-base" content="[object Object]" role="presentation" {{action "clickSection" "jQuery"}}>
                <a tabindex="0" aria-selected="true">
                    jQuery
                </a>
            </li>
        {{/unless}}
        {{#unless noEmber}}
            <li {{bind-attr class=":slds-tabs__item :slds-text-heading--label isEmber:slds-active"}} aria-controls="markup-2" aria-describedby="components-picklists-base" content="[object Object]" role="presentation" {{action "clickSection" "ember"}}>
                <a tabindex="0" aria-selected="true">
                    Ember
                </a>
            </li>
        {{/unless}}
    </ul>
    {{partial sectionPartial}}
</div>--}}
{{partial sectionPartial}}